:root {
    --color_1: rgb(212, 255, 228);
    --color_2: rgb(70, 157, 137);
    --color_3: rgb(3, 102, 102);
    --color_4: rgb(8, 69, 69);
    --color_5: rgb(0, 12, 12);
    --color_white: #ffffff;
    /*Dark palette*/
    --color_dark1: #0D1B2A;
    --color_dark2: #1B263B;
    --color_dark3: #415A77;
    --color_dark4: #778DA9;
    --color_dark5: #E0E1DD;
}

@keyframes grown8 {

    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }

}

.bar8-main {
    display: grid;
    grid-template-columns: 119px 30px 30px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    gap: 5px;
    padding: 8px;
}

.bar8-main-div {
    width: 100%;
    height: 20px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color_1);
    border-radius: 15px;
    animation-name: grown8;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    box-shadow: 2px 2px 2px 0.5px black;
}

.bar8-main-h3 {
    font-size: 11px;
    text-align: center;
    padding-left: 3px;
    padding-right: 3px;
    color: var(--color_dark5);
}

.bar8-main-img {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 350px) and (max-width: 600px) {
    .bar8-main {
        display: grid;
        grid-template-columns: 139px 50px 50px;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 40px;
        padding: 8px;
    }
    
    .bar8-main-div {
        width: 100%;
        height: 20px;
        background-color: gray;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--color_1);
        border-radius: 15px;
        animation-name: grown8;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        box-shadow: 2px 2px 2px 0.5px black;
    }
    
    .bar8-main-h3 {
        font-size: 12px;
        text-align: center;
        padding-left: 3px;
        padding-right: 3px;
        color: var(--color_dark5);
    }
    
    .bar8-main-img {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .bar8-main {
        display: grid;
        grid-template-columns: 139px 50px 50px;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 40px;
        padding: 8px;
        transform: scale(1.6);
    }
}

@media only screen and (min-width: 1000px)  {
    .bar8-main {
        display: grid;
        grid-template-columns: 139px 50px 50px;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 40px;
        padding: 8px;
    }
}