:root {
  --color_1: rgb(245, 240, 227);
  --color_2: rgb(64, 191, 193);
  --color_3: rgb(255, 111, 94);
  --color_4: rgb(240, 19, 77);
  --color_5: rgb(0, 12, 12);
  --color_white: #ffffff;
  /*Dark palette*/
  --color_dark1: #0D1B2A;
  --color_dark2: #270082;
  --color_dark3: #7A0BC0;
  --color_dark4: #FA58B6;
  --color_dark5: #E0E1DD;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  position: fixed;
  top: 0;
  z-index: 4;
}

.header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
  background-color: var(--color_2);
  column-gap: 4px;
  border-radius: 0px 0px 10px 10px;
  border-bottom: 1px solid var(--color_white);
  padding-top: 5px;
  padding-bottom: 10px;
  box-shadow: 4px 4px 4px 1px black;
}

.header-nav.dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
  background-color: var(--color_dark2);
  column-gap: 4px;
  border-radius: 0px 0px 10px 10px;
  border-bottom: 1px solid var(--color_white);
  padding-top: 5px; 
  padding-bottom: 10px;
  box-shadow: 4px 4px 4px 1px black;
}

.header-nav-btn {
  width: 85px;
  height: 35px;
  background-color: var(--color_3);
  margin: 0;
  padding: 0;
  border-radius: 15px;
  border: 0.5px solid var(--color_dark1);
  cursor: pointer;
  box-shadow: 2px 2px 2px 0.5px black;
}

.header-nav-btn.dark {
  width: 85px;
  height: 35px;
  background-color: var(--color_dark4);
  margin: 0;
  padding: 0;
  border-radius: 15px;
  border: 0.5px solid var(--color_3);
  cursor: pointer;
  box-shadow: 2px 2px 2px 0.5px rgb(255, 255, 255);
}

.header-nav-btn span {
  color: var(--color_dark1);
  font-size: 0.6em;
}

.header-nav-btn span:hover {
  color: var(--color_2);
  font-size: 0.6em;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    z-index: 4;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: var(--color_2);
    column-gap: 20px;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 1px solid var(--color_white);
  }

  .header-nav.dark {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: var(--color_dark2);
    column-gap: 20px;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 1px solid var(--color_white);
  }

  .header-nav-btn {
    width: 80px;
    height: 35px;
    background-color: var(--color_3);
    margin: 0;
    padding: 0;
    border-radius: 15px;
    border: 0.5px solid var(--color_dark1);
    transition: 300ms;
    cursor: pointer;
  }

  .header-nav-btn.dark {
    width: 80px;
    height: 35px;
    background-color: var(--color_dark4);
    margin: 0;
    padding: 0;
    border-radius: 15px;
    border: 0.5px solid var(--color_dark1);
    transition: 300ms;
    cursor: pointer;
  }
}

@media only screen and (min-width: 1000px) {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    z-index: 4;
  }

  .header-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: var(--color_2);
    column-gap: 40px;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 1px solid var(--color_white);
  }

  .header-nav.dark {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: var(--color_dark2);
    column-gap: 40px;
    border-radius: 0px 0px 10px 10px;
    border-bottom: 1px solid var(--color_white);
  }

  .header-nav-btn {
    width: 100px;
    height: 40px;
    background-color: var(--color_3);
    margin: 0;
    padding: 0;
    border-radius: 15px;
    border: 0.5px solid var(--color_dark1);
    cursor: pointer;
  }

  .header-nav-btn:hover {
    width: 100px;
    height: 40px;
    background-color: var(--color_1);
    margin: 0;
    padding: 0;
    border-radius: 15px;
    border: 0.5px solid var(--color_dark1);
    cursor: pointer;
  }

  .header-nav-btn.dark {
    width: 100px;
    height: 40px;
    background-color: var(--color_dark4);
    margin: 0;
    padding: 0;
    border-radius: 15px;
    border: 0.5px solid var(--color_dark1);
    cursor: pointer;
  }

  .header-nav-btn.dark:hover {
    width: 100px;
    height: 40px;
    background-color: var(--color_dark3);
    margin: 0;
    padding: 0;
    border-radius: 15px;
    border: 0.5px solid var(--color_dark1);
    cursor: pointer;
  }

  .header-nav-btn span {
    color: var(--color_dark1);
  }
}