:root {
    --color_1: rgb(245, 240, 227);
    --color_2: rgb(64, 191, 193);
    --color_3: rgb(255, 111, 94);
    --color_4: rgb(240, 19, 77);
    --color_5: rgb(0, 12, 12);
    --color_white: #ffffff;
    /*Dark palette*/
    --color_dark1: #0D1B2A;
    --color_dark2: #270082;
    --color_dark3: #7A0BC0;
    --color_dark4: #FA58B6;
    --color_dark5: #E0E1DD;
}

.hobies-main {
    width: 80%;
    height: 350px;
    border-radius: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    background-color: var(--color_3);
    border: 1px solid var(--color_dark1);
    box-shadow: 5px 5px 5px 2px black;
}

.hobies-main.dark {
    width: 80%;
    height: 350px;
    border-radius: 20px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    background-color: var(--color_dark2);
    border: 1px solid var(--color_white);
    box-shadow: 5px 5px 5px 2px var(--color_white);
}

.hobies-description {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hobies-main-grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    column-gap: 10px;
}

.hobies-left-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hobies-main-h2 {
    font-size: 25px;
    font-weight: bold;
    color: var(--color_dark1);
    margin-top: 5px;
}

.hobies-main-h2.dark {
    font-size: 25px;
    font-weight: bold;
    color: var(--color_dark4);
    margin-top: 5px;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {

    .hobies-main {
        width: 150px;
        height: 300px;
        border-radius: 20px;
        gap: 25px;
        display: flex;
        flex-direction: column;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        background-color: var(--color_3);
        border: 1px solid var(--color_dark1);
        box-shadow: 5px 5px 5px 2px black;
    }

    .hobies-main.dark {
        width: 150px;
        height: 300px;
        border-radius: 20px;
        gap: 25px;
        display: flex;
        flex-direction: column;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        background-color: var(--color_dark2);
        border: 1px solid var(--color_white);
        box-shadow: 5px 5px 5px 2px var(--color_white);
    }

    .hobies-main-h2 {
        font-size: 15px;
        font-weight: bold;
        color: var(--color_dark1);
        margin-top: 5px;
    }

    .hobies-main-h2.dark {
        font-size: 15px;
        font-weight: bold;
        color: var(--color_dark4);
        margin-top: 5px;
    }
}

@media only screen and (min-width: 1000px) {
    .hobies-main {
        width: 230px;
        height: 300px;
        border-radius: 20px;
        gap: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        background-color: var(--color_3);
        border: 1px solid var(--color_dark1);
        box-shadow: 5px 5px 5px 2px black;
    }

    .hobies-main.dark {
        width: 230px;
        height: 300px;
        border-radius: 20px;
        gap: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        background-color: var(--color_dark2);
        border: 1px solid var(--color_white);
        box-shadow: 5px 5px 5px 2px var(--color_white);
    }

    .hobies-main-h2 {
        font-size: 18px;
        font-weight: bold;
        color: var(--color_dark1);
        margin-top: 5px;
    }

    .hobies-main-h2.dark {
        font-size: 18px;
        font-weight: bold;
        color: var(--color_dark4);
        margin-top: 5px;
    }
}