:root {
    --color_1: rgb(245, 240, 227);
    --color_2: rgb(64, 191, 193);
    --color_3: rgb(255, 111, 94);
    --color_4: rgb(240, 19, 77);
    --color_5: rgb(0, 12, 12);
    --color_white: #ffffff;
    /*Dark palette*/
    --color_dark1: #0D1B2A;
    --color_dark2: #270082;
    --color_dark3: #7A0BC0;
    --color_dark4: #FA58B6;
    --color_dark5: #E0E1DD;
}

@keyframes scaleAnimation {

    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.05);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }

}

@keyframes traslateAnimation {

    0% {
        transform: translateX(0px);
    }

    25% {
        transform: translateX(-10px);
    }

    50% {
        transform: translateX(0px);
    }

    75% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0px);
    }

}

@keyframes shadowtextAnimation {

    0% {
        box-shadow: 0px 0px 0px 0px black;
    }

    25% {
        box-shadow: 0px 3px 3px 0.5px black;
    }

    50% {
        box-shadow: 0px 0px 0px 0px black;
    }

    75% {
        box-shadow: -3px 3px 3px 0.5px black;
    }

    100% {
        box-shadow: 3px 3px 3px 0.5px black;
    }

}

@keyframes shadowtextAnimation1 {

    0% {
        box-shadow: 0px 0px 0px 0px var(--color_white);
    }

    25% {
        box-shadow: 0px 3px 3px 0.5px var(--color_white);
    }

    50% {
        box-shadow: 0px 0px 0px 0px var(--color_white);
    }

    75% {
        box-shadow: -3px 3px 3px 0.5px var(--color_white);
    }

    100% {
        box-shadow: 3px 3px 3px 0.5px var(--color_white);
    }

}


.main-logos {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 570px;
    column-gap: 20%;
    row-gap: 40px;
}

.main-logos-div {
    width: 80px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin: 0;
    gap: 5px;
    animation-name: scaleAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.main-logos-div-img-html {
    width: 75px;
    height: 70px;
    animation-name: traslateAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.main-logos-div-img-css {
    width: 77px;
    height: 74px;
    animation-name: traslateAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.main-logos-div-img {
    width: 68px;
    height: 62px;
    animation-name: traslateAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.main-logos-div-img-react {
    width: 58px;
    height: 68px;
    animation-name: traslateAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.main-logos-div-img-hub {
    width: 60px;
    height: 60px;
    animation-name: traslateAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.main-logos-div-img-best {
    width: 40px;
    height: 65px;
    animation-name: traslateAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.main-logos-h4 {
    text-align: center;
    color: var(--color_1);
    font-size: 12px;
    padding-bottom: 2px;
    animation-name: shadowtextAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 10%;
    width: 100%;
}

.main-logos-h4.dark {
    text-align: center;
    color: var(--color_1);
    font-size: 12px;
    padding-bottom: 2px;
    animation-name: shadowtextAnimation1;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border-radius: 10%;
    width: 100%;
}