:root {
    --color_1: rgb(245, 240, 227);
    --color_2: rgb(64, 191, 193);
    --color_3: rgb(255, 111, 94);
    --color_4: rgb(240, 19, 77);
    --color_5: rgb(0, 12, 12);
    --color_white: #ffffff;
    /*Dark palette*/
    --color_dark1: #0D1B2A;
    --color_dark2: #270082;
    --color_dark3: #7A0BC0;
    --color_dark4: #FA58B6;
    --color_dark5: #E0E1DD;
}


.my-music {
    width: 80%;
    height: 350px;
    border-radius: 20px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    background-color: var(--color_3);
    position: relative;
    border: 1px solid var(--color_dark1);
    box-shadow: 5px 5px 5px 2px black;
}

.my-music.dark {
    width: 80%;
    height: 350px;
    border-radius: 20px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    background-color: var(--color_dark2);
    position: relative;
    border: 1px solid var(--color_white);
    box-shadow: 5px 5px 5px 2px var(--color_white);
}

.my-music-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 50.5px;
    background-color: black;
    border-radius: 10px;
    border: 2px solid var(--color_1);
    box-shadow: 7px 6px 6px 1px black;
    position: absolute;
    top: 80px;
    right: 10px;
}

.my-music-div-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 50.5px;
    background-color: black;
    border-radius: 10px;
    border: 2px solid var(--color_1);
    box-shadow: 7px 6px 6px 1px black;
    position: absolute;
    top: 150px;
    right: 55px;
}

.my-music-div-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 50.5px;
    background-color: black;
    border-radius: 10px;
    border: 2px solid var(--color_1);
    box-shadow: 7px 6px 6px 1px black;
    position: absolute;
    top: 220px;
    right: 30px;
}

.my-music-div-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 50.5px;
    background-color: black;
    border-radius: 10px;
    border: 2px solid var(--color_1);
    box-shadow: 7px 6px 6px 1px black;
    position: absolute;
    top: 290px;
    right: 45px;
}

.my-music-div button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: black;
    border: none;
}

.my-music-div-1 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: black;
    border: none;
}

.my-music-div-2 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: black;
    border: none;
}

.my-music-div-3 button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: black;
    border: none;
}

.my-music-div button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50.2px;
    text-decoration: none;
}

.my-music-div-1 button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50.2px;
    text-decoration: none;
}

.my-music-div-2 button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50.2px;
    text-decoration: none;
}

.my-music-div-3 button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50.2px;
    text-decoration: none;
}

.my-music-div button a .bx {
    font-size: 40px;
    color: var(--color_white);
}

.my-music-div button a .bx:hover {
    font-size: 40px;
    color: #1ed760;
}

.my-music-div-1 button a .bx {
    font-size: 45px;
    color: var(--color_white);
}

.my-music-div-1 button a .bx:hover {
    font-size: 40px;
    color: #1ed760;
}

.my-music-div-2 button a .bx {
    font-size: 45px;
    color: var(--color_white);
}

.my-music-div-2 button a .bx:hover {
    font-size: 40px;
    color: #1ed760;
}

.my-music-div-3 button a .bx {
    font-size: 45px;
    color: var(--color_white);
}

.my-music-div-3 button a .bx:hover {
    font-size: 40px;
    color: #1ed760;
}

.my-music-div img {
    width: 204px;
    height: 49px;
    border-radius: 10px 0px 0px 10px;
}

.my-music-div-1 img {
    width: 204px;
    height: 49px;
    border-radius: 10px 0px 0px 10px;
}

.my-music-div-2 img {
    width: 204px;
    height: 49px;
    border-radius: 10px 0px 0px 10px;
}

.my-music-div-3 img {
    width: 204px;
    height: 49px;
    border-radius: 10px 0px 0px 10px;
}

.my-music-h2 {
    font-size: 25px;
    font-weight: bold;
    color: var(--color_5);
}

.my-music-h2.dark {
    font-size: 25px;
    font-weight: bold;
    color: var(--color_white);
}

@media only screen and (min-width: 0px) and (max-width: 370px) {
    .my-music-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 40px;
        background-color: black;
        border-radius: 10px;
        border: 2px solid var(--color_1);
        box-shadow: 7px 6px 6px 1px black;
        position: absolute;
        top: 80px;
        right: 10px;
    }

    .my-music-div-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 40px;
        background-color: black;
        border-radius: 10px;
        border: 2px solid var(--color_1);
        box-shadow: 7px 6px 6px 1px black;
        position: absolute;
        top: 150px;
        right: 60px;
    }

    .my-music-div-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 40px;
        background-color: black;
        border-radius: 10px;
        border: 2px solid var(--color_1);
        box-shadow: 7px 6px 6px 1px black;
        position: absolute;
        top: 220px;
        right: 30px;
    }

    .my-music-div-3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 70%;
        height: 40px;
        background-color: black;
        border-radius: 10px;
        border: 2px solid var(--color_1);
        box-shadow: 7px 6px 6px 1px black;
        position: absolute;
        top: 290px;
        right: 50px;
    }

    .my-music-div button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: black;
        border: none;
    }

    .my-music-div-1 button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: black;
        border: none;
    }

    .my-music-div-2 button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: black;
        border: none;
    }

    .my-music-div-3 button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        background-color: black;
        border: none;
    }

    .my-music-div button a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 39px;
        height: 39px;
        text-decoration: none;
    }

    .my-music-div-1 button a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 39px;
        height: 39px;
        text-decoration: none;
    }

    .my-music-div-2 button a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 39px;
        height: 39px;
        text-decoration: none;
    }

    .my-music-div-3 button a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 39px;
        height: 39px;
        text-decoration: none;
    }

    .my-music-div button a .bx {
        font-size: 30px;
        color: var(--color_white);
    }

    .my-music-div button a .bx:hover {
        font-size: 30px;
        color: #1ed760;
    }

    .my-music-div-1 button a .bx {
        font-size: 30px;
        color: var(--color_white);
    }

    .my-music-div-1 button a .bx:hover {
        font-size: 30px;
        color: #1ed760;
    }

    .my-music-div-2 button a .bx {
        font-size: 30px;
        color: var(--color_white);
    }

    .my-music-div-2 button a .bx:hover {
        font-size: 30px;
        color: #1ed760;
    }

    .my-music-div-3 button a .bx {
        font-size: 30px;
        color: var(--color_white);
    }

    .my-music-div-3 button a .bx:hover {
        font-size: 30px;
        color: #1ed760;
    }

    .my-music-div img {
        width: 75%;
        height: 32px;
        border-radius: 10px 0px 0px 10px;
    }

    .my-music-div-1 img {
        width: 75%;
        height: 32px;
        border-radius: 10px 0px 0px 10px;
    }

    .my-music-div-2 img {
        width: 75%;
        height: 32px;
        border-radius: 10px 0px 0px 10px;
    }

    .my-music-div-3 img {
        width: 75%;
        height: 32px;
        border-radius: 10px 0px 0px 10px;
    }

    .my-music-h2 {
        font-size: 20px;
        font-weight: bold;
        color: var(--color_5);
    }

    .my-music-h2.dark {
        font-size: 20px;
        font-weight: bold;
        color: var(--color_white);
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {

    .my-music {
        width: 300px;
        height: 350px;
        border-radius: 20px;
        gap: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        background-color: var(--color_3);
        position: relative;
        border: 1px solid var(--color_dark1);
        box-shadow: 5px 5px 5px 2px black;
    }

    .my-music.dark {
        width: 300px;
        height: 350px;
        border-radius: 20px;
        gap: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        background-color: var(--color_dark2);
        position: relative;
        border: 1px solid var(--color_white);
        box-shadow: 5px 5px 5px 2px var(--color_white);
    }

    .my-music-h2 {
        font-size: 15px;
        font-weight: bold;
        color: var(--color_5);
    }

    .my-music-h2.dark {
        font-size: 15px;
        font-weight: bold;
        color: var(--color_white);
    }
}

@media only screen and (min-width: 1000px) {
    .my-music {
        width: 350px;
        height: 350px;
        border-radius: 20px;
        gap: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        background-color: var(--color_3);
        position: relative;
        border: 1px solid var(--color_dark1);
        box-shadow: 5px 5px 5px 2px black;
    }

    .my-music.dark {
        width: 350px;
        height: 350px;
        border-radius: 20px;
        gap: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        background-color: var(--color_dark2);
        position: relative;
        border: 1px solid var(--color_white);
        box-shadow: 5px 5px 5px 2px var(--color_white);
    }

    .my-music-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 50.5px;
        background-color: black;
        border-radius: 10px;
        border: 2px solid var(--color_1);
        box-shadow: 7px 6px 6px 1px black;
        position: absolute;
        top: 80px;
        right: 30px;
    }

    .my-music-div-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 50.5px;
        background-color: black;
        border-radius: 10px;
        border: 2px solid var(--color_1);
        box-shadow: 7px 6px 6px 1px black;
        position: absolute;
        top: 150px;
        right: 75px;
    }

    .my-music-div-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 50.5px;
        background-color: black;
        border-radius: 10px;
        border: 2px solid var(--color_1);
        box-shadow: 7px 6px 6px 1px black;
        position: absolute;
        top: 220px;
        right: 40px;
    }

    .my-music-div-3 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 260px;
        height: 50.5px;
        background-color: black;
        border-radius: 10px;
        border: 2px solid var(--color_1);
        box-shadow: 7px 6px 6px 1px black;
        position: absolute;
        top: 290px;
        right: 65px;
    }

    .my-music-h2 {
        font-size: 18px;
        font-weight: bold;
        color: var(--color_5);
    }

    .my-music-h2.dark {
        font-size: 18px;
        font-weight: bold;
        color: var(--color_white);
    }
}