:root {
    --color_1: rgb(212, 255, 228);
    --color_2: rgb(70, 157, 137);
    --color_3: rgb(3, 102, 102);
    --color_4: rgb(8, 69, 69);
    --color_5: rgb(0, 12, 12);
    --color_white: #ffffff;
    /*Dark palette*/
    --color_dark1: #0D1B2A;
    --color_dark2: #1B263B;
    --color_dark3: #415A77;
    --color_dark4: #778DA9;
    --color_dark5: #E0E1DD;
}

.Photo {
    width: 100%;
    height: auto;
    margin-top: 140px;
    border-radius: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.Photo-div {
    width: 100%;
    height: auto;
    border-radius: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .Photo {
        width: 100%;
        height: auto;
        margin-top: 100px;
        border-radius: 20px;
        gap: 30px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
}

@media only screen and (min-width: 1000px) {
    .Photo {
        width: 100%;
        height: auto;
        margin-top: 40px;
        border-radius: 20px;
        gap: 40px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
    }
}