:root {
    --color_1: rgb(245, 240, 227);
    --color_2: rgb(64, 191, 193);
    --color_3: rgb(255, 111, 94);
    --color_4: rgb(240, 19, 77);
    --color_5: rgb(0, 12, 12);
    --color_white: #ffffff;
    /*Dark palette*/
    --color_dark1: #0D1B2A;
    --color_dark2: #270082;
    --color_dark3: #7A0BC0;
    --color_dark4: #FA58B6;
    --color_dark5: #E0E1DD;
}

.main-responsive {
    width: 80%;
    height: auto;
    border-radius: 20px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    box-shadow: 5px 5px 5px 2px black;
    background-color: var(--color_3);
    border: 1px solid var(--color_dark1);
}

.main-responsive.dark {
    width: 80%;
    height: auto;
    border-radius: 20px;
    gap: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
    box-shadow: 5px 5px 5px 2px var(--color_white);
    background-color: var(--color_dark2);
    border: 1px solid var(--color_white);
}

.responsive-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
}

.responsive-h2 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: var(--color_white);
}

.responsive-web {
    font-size: 20px;
    font-weight: bold;
    color: var(--color_5)
}

.responsive-web.dark {
    font-size: 20px;
    font-weight: bold;
    color: var(--color_dark4)
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .main-responsive {
        width: 250px;
        height: auto;
        border-radius: 20px;
        gap: 25px;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        box-shadow: 5px 5px 5px 2px black;
        background-color: var(--color_3);
        border: 1px solid var(--color_dark1);
    }

    .main-responsive.dark {
        width: 250px;
        height: auto;
        border-radius: 20px;
        gap: 25px;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        box-shadow: 5px 5px 5px 2px var(--color_white);
        background-color: var(--color_dark2);
        border: 1px solid var(--color_white);
    }
}

@media only screen and (min-width: 1000px) {
    .main-responsive {
        width: 400px;
        height: auto;
        border-radius: 20px;
        gap: 25px;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        box-shadow: 5px 5px 5px 2px black;
        background-color: var(--color_3);
        border: 1px solid var(--color_dark1);
        transform: scale(0.9);
    }

    .main-responsive.dark {
        width: 400px;
        height: auto;
        border-radius: 20px;
        gap: 25px;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        box-shadow: 5px 5px 5px 2px var(--color_white);
        background-color: var(--color_dark2);
        border: 1px solid var(--color_white);
        transform: scale(0.9);
    }
}