:root {
    --color_1: rgb(245, 240, 227);
    --color_2: rgb(64, 191, 193);
    --color_3: rgb(255, 111, 94);
    --color_4: rgb(240, 19, 77);
    --color_5: rgb(0, 12, 12);
    --color_white: #ffffff;
    /*Dark palette*/
    --color_dark1: #0D1B2A;
    --color_dark2: #270082;
    --color_dark3: #7A0BC0;
    --color_dark4: #FA58B6;
    --color_dark5: #E0E1DD;
}

.screen-main {
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.screen-main.dark {
    width: 50%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 300px) and (max-width: 350px) {

    .screen-main {
        width: 50%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1.2);
    }

    .screen-main.dark {
        width: 50%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1.2);
    }
}

@media only screen and (min-width: 351px) and (max-width: 400px) {

    .screen-main {
        width: 50%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1.1);
    }

    .screen-main.dark {
        width: 50%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1.1);
    }
}

@media only screen and (min-width: 401px) and (max-width: 450px) {

    .screen-main {
        width: 50%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1.1);
    }

    .screen-main.dark {
        width: 50%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 451px) and (max-width: 500px) {

    .screen-main {
        width: 50%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1.2);
    }

    .screen-main.dark {
        width: 50%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 501px) and (max-width: 600px) {

    .screen-main {
        width: 50%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(1.1);
    }

    .screen-main.dark {
        width: 50%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 601px) and (max-width: 750px) {

    .screen-main {
        width: 50%;
        height: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .screen-main.dark {
        width: 50%;
        height: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 751px) and (max-width: 1000px) {

    .screen-main {
        width: 50%;
        height: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .screen-main.dark {
        width: 50%;
        height: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 1000px) {

    .screen-main {
        width: 40%;
        height: 390px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0.8);
    }

    .screen-main.dark {
        width: 40%;
        height: 390px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(0.8);
    }
}