:root {
    --color_1: rgb(245, 240, 227);
    --color_2: rgb(64, 191, 193);
    --color_3: rgb(255, 111, 94);
    --color_4: rgb(240, 19, 77);
    --color_5: rgb(0, 12, 12);
    --color_white: #ffffff;
    /*Dark palette*/
    --color_dark1: #0D1B2A;
    --color_dark2: #270082;
    --color_dark3: #7A0BC0;
    --color_dark4: #FA58B6;
    --color_dark5: #E0E1DD;
}

.technologies {
    width: 100%;
    height: auto;
    margin-top: 140px;
    border-radius: 20px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 25vh;
}

.technologies-grid-1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {

    .technologies {
        width: 100%;
        height: auto;
        margin-top: 130px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 50vh;
    }


    .technologies-grid-1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}

@media only screen and (min-width: 1000px) {

    .technologies {
        width: 100%;
        height: auto;
        margin-top: 130px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 5%;
    }


    .technologies-grid-1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
}